#message {
	visibility: hidden;
	min-width: 250px;
	margin-left: 40px;
	background-color: rgba(86, 199, 87, 0.66);
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 16px;
	position: fixed;
	z-index: 1000;
	float: left;
	bottom: 30px;
}
		
#message.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.app-location table th {
	text-align: center;
}

.app-location table tbody tr {
	cursor: pointer;
}

.app-location .watermark {
    position: inherit;
    opacity: 0.25;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    z-index: 1000;
}